body {
  background-image: url("./assets/coopDirector.png");
  background-color: aliceblue;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  border: 2px solid black;
  margin: 0 auto;
  max-width: 600px;
  left: 10%;
  background-color: rgba(250, 235, 215, 0.636);
}